# PyCharm
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/

# Environment variables (TOUS les .env partout dans le projet)
.env
.env.*
!*.env.example

# OS files
.DS_Store
Thumbs.db